@media only screen and (min-device-width: 375px) and (max-device-width: 667px){
    .campaign-view-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    };

    .campaign-view-main {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
    }
}