@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {

    .character-edit-header {
        margin: 5px 0;
        padding: 5px 0;
    }

    .character-edit-header-menu {
        display: flex;
    }

    .character-edit-header-menu * {
        width: calc(100% / 5);
        text-align: center;
        text-decoration: none;
    }
}