/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.App {
  width: 100vw;
  height: 100vh;
  font-family: 'Noto Sans', sans-serif; }

/* MOBILE DEVICES*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .landing-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; }
  .landing-main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center; }
  .landing-main h1 {
    text-align: center; }
  .landing-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto; }
  .landing-btns button {
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid 1px red;
    min-height: fit-content;
    height: 30px;
    text-transform: uppercase; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .header {
    border: solid 2px blue;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px; }
  .header-title h1 {
    text-align: center; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .footer {
    border: solid 2px red;
    flex-shrink: 0;
    height: 5%; }
  .footer-menu {
    display: flex;
    justify-content: space-evenly; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    background: black;
    margin: 3px 0;
    transition: 0.4s; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .campaign-view-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%; }
  .campaign-view-main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .header-btn button {
    min-width: fit-content;
    width: 75px;
    border: solid 1px green; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .login-form-modal {
    position: fixed;
    width: 100%;
    height: 100%; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .party-list-header {
    display: flex;
    justify-content: space-between;
    text-align: center; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .party-list-card {
    display: flex;
    justify-content: space-between;
    text-align: center; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .character-list-card-row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 4px 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s; }
  .character-list-card-row:hover {
    box-shadow: 0 1px 2px 0 rgba(235, 127, 0, 0.2); }
  .character-list-card-col {
    text-align: center;
    width: calc(100% / 3); } }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .character-list-table {
    display: flex;
    flex-direction: column; }
  .character-list-table-header {
    display: flex; }
  .character-list-table-col {
    width: calc(100% / 3);
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    border-bottom: 1px solid blue; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .character-edit-header {
    margin: 5px 0;
    padding: 5px 0; }
  .character-edit-header-menu {
    display: flex; }
  .character-edit-header-menu * {
    width: calc(100% / 5);
    text-align: center;
    text-decoration: none; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .character-details-main-row {
    display: flex; } }
